<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PAL Missing Backscan</title>
  </head>
  <body>
    <div id="form-container">
        <form id="mainform" method="post" action="/backscan">
            <div id="message">Missing Backscan Search By Date Range</div>
            <!-- <div id="radio-row">
                <input type="radio" name="dateoraccount" value="multiples">
                <div>Multiples Today</div>
            </div>
            <div id="radio-row">
                <input type="radio" name="dateoraccount" value="date">
                <div>Date Range Only</div>
            </div>
            <div id="radio-row">
                <input type="radio" name="dateoraccount" value="account">
                <div>Account Only</div>
            </div>
            <div id="radio-row">
                <input type="radio" name="dateoraccount" value="both">
                <div>Date Range By Account (Fill out all fields)</div>
            </div> -->
            <label>Starting Date</label>
            <input type="text" name="startingdate" />
            <label>Ending Date</label>
            <input type="text" name="endingdate" />
            <div class="hline"></div>
            <div id="submit-container">
                <input id="submit" type="submit" value="Submit" />
            </div>
        </form>
    </div>
  </body>
</html>